body{
    margin: 0 20% 0 20%;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(26, 26, 29);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
nav #menu-nav ul{
    display: flex;

}
nav #menu-nav ul li{
    list-style-type: none;
    text-align: center;
}
nav #menu-nav ul li img{
    height: 50px;
}
nav #menu-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

#titre-1{
    background-color: rgb(51,77,92);
    padding: 5%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#titre-1 .packages{
    display: grid;
    justify-content: center;
}
#titre-1 .titre-pack{
    padding-left: 10%;
}

.titre-2{
    display: flex;
    text-align: center;
    justify-content: center;
}
.titre-2 h1{
    padding-top: 10px;
    background-color: rgb(51,77,92);
    color: white;
    width: 250px;
}
.corps .intro{ 
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.corps .intro .logo-pack{
    display: flex;
    justify-content: center;
}
.corps .intro .text{
    padding: 0 20% 0 20%;
}
.logo-expli{
    width: 100%;
    height: 150px;
    background-color: rgb(234,227,214);
    display: flex;
    align-items: center;
}
.logo-expli ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}
.logo-expli ul li{
    list-style-type: none;
    padding: 0 30% 0 30%;
}
.logo-expli ul li a{
    text-decoration: none;
    color: black;
}
.logo-expli ul li a img{
    height: 60px;
}

#evolution .logo-expli ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#evolution .logo-expli ul li{
    padding: 0 25% 0 25%;
}

footer{
    background-color: rgb(57,58,59);
    color: white;
    padding: 5%;
}
footer .menu-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer .menu-footer div a img{
    height: 50px;
    padding: 2%;
}
footer .cgv p{
    text-align: end;
}
